* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.container h1 {
  text-align: center;
  padding-top: 20px;
  font-family: "Poppins";
  font-weight: 600;
  
}
.second-section-2 p{
  max-width: 700px;
  font-family: "Poppins";
}
.second-section-2{
  flex-wrap: wrap-reverse;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 150px;
  font-family: "Poppins";
  padding: 10px;
}
.second-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 150px;
  font-family: "Poppins";
  flex-wrap: wrap;
  padding: 10px;
}
.second-section img {
  width: 600px;
}
.second-section p {
  max-width: 700px;
  font-family: "Poppins";

}.Img img {
  width: 600px;
}
@media only screen and (max-width:600px){
 .second-section h1{
  text-align: center;
  font-size: 30px;
 }
 .second-section p{
  font-size: 12px;
  text-align: center
 }
 .second-section{
  justify-content: center;
 }
 .Img img{
  width: 100%;
  height: auto;
 }
 .second-section img{
  width: 100%;
  height: auto;
 }
 .second-section-2{
  flex-wrap: wrap-reverse;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 150px;
  font-family: "Poppins";
  padding: 10px;
  text-align: center;
}

}
