*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.Heading h1{
    text-align: center;
    padding-top: 20%;
    font-size: 180px;
    font-weight: 500;
    color: #fff;
}
.background{
    background: url('./images/Beautifull-Lake.jpg');
    background-size: cover;
    height: 1120px;
}