.section2background{
    background: #a7a7a7;
}
.Heading-Text h1{
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    font-size: 35px;
    font-weight: 400;
    letter-spacing: 3px;
    font-family: "Poppins";
}
.Heading-text p{
    color: #ffffff;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 2px;
    padding-top: 5px;
    font-family: "Poppins";
}

.row{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.colum img{
    width: 550px;
    padding-top: 50px;
}
.colum h3{
    font-size: 19px;
    font-family: "Poppins";
    font-weight: 300;
    color: #dcd7d7;
}
.colum h1{
    color: #dcd7d7;
    font-family: "Poppins";
    font-weight: 500;
}
.colum p{
    color: #dcd7d7;
    font-family: "Poppins";
    font-weight: 300;
}